body{
    background:#f5f7fa;
    font-family:Poppins, sans-serif;
}

.product-card{
    border-radius:12px;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.card-img-top{
    height:200px;
    object-fit:cover;
}